<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>图书管理</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">后台图书管理系统</span>
			<div>
				<a type="button" class="btn btn-primary btn-xs" href="/getPageBooks"><small style="text-align: center;color:whitesmoke;font-size:medium;font-weight:bold">图书管理</small></a>
				<a type="button" class="btn btn-primary btn-xs" href="/getOrders"><small style="text-align: center;color:whitesmoke;font-size:medium;font-weight:bold">订单管理</small></a>
				<a type="button" class="btn btn-primary btn-xs" href="/getUserInfo"><small style="text-align: center;color:whitesmoke;font-size:medium;font-weight:bold">用户管理</small></a>
				<a type="button" class="btn btn-primary btn-xs" href="/main"><small style="text-align: center;color:whitesmoke;font-size:medium;font-weight:bold">返回主页</small></a>
			</div>
	</div>
	
	<div id="main">
		<h1>欢迎管理员进入后台图书管理系统</h1>
	</div>
	
	<div id="bottom">
		<span>
		</span>
	</div>
</body>
</html>